.contributer-container {
  @include flexCenter;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-height: 1024px;
  padding: 2rem 0;
  margin: 0 auto;

  .contributer-wrapper {
    width: $width;
    height: 80vh;
    max-width: $maxWidth;
    margin: 0 auto;
    flex-direction: column;
    border: $border;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    .contributer-name-wrapper {
      text-align: center;

      h1 {
        font-family: $secondary-font-bold;

        font-size: 2.2rem;
        padding: 0;
        margin: 0;

        .first-name {
          color: transparent;
          -webkit-text-stroke: 1px black;
        }
      }
    }

    .content-wrapper {
      width: 100%;
      @include flexCenter;
      position: relative;
      min-height: 380px;
      overflow: hidden;

      section {
        margin: 0 1rem;
      }

      .contributer-img-wrapper {
        width: 80%;

        max-width: 600px;
        z-index: 3;
        position: absolute;
        // top: 20%;
      }

      .bio-container {
        width: 80%;
        max-width: 600px;
        z-index: 3;
        position: absolute;
        top: 10%;

        p {
          font-size: $small-font-SS;
        }

        .social-wrapper {
          margin-top: 1rem;
          text-align: center;

          a {
            font-size: $verySmall-font-SS;
            text-decoration: underline;
          }
        }
      }
    }

    .toggle-container {
      .toggle-wrapper {
        width: 150px;
        height: 50px;
        border: $border;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        cursor: pointer;

        p {
          font-family: $secondary-font-bold;
          color: transparent;
          -webkit-text-stroke: 1px black;
          font-size: $small-font-SS;
          margin: 0;
          padding: 0;
        }

        .img-icon {
          margin-right: 1rem;
        }

        .img-icon,
        .bio-icon {
          z-index: 5;
        }

        .hover {
          content: "";
          position: absolute;
          top: 3;
          left: 2px;
          width: 75px;
          height: 46px;
          border: $border;
          border-radius: 50px;
          background-color: $light;
          opacity: 0.3;
          z-index: 1;
        }
      }
    }
  }
}
