.shop-form {
  width: 85vw;
  max-width: 400px;
  @include flexCenter;
  flex-direction: column;
  // padding: 1.2rem 0;
  font-size: $small-font-SS;

  .shop-book-img {
    width: 100%;
    max-width: 300px;
    border: $border;
    margin-bottom: 1.5rem;
  }

  section,
  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0.2rem 0;
  }

  option {
    background-color: $darkGray;
    color: $light;
  }

  label {
    .select-countries {
      width: 50%;
    }

    select {
      background-color: transparent;
      border: $border;
      padding: 0.2rem 0.4rem;
    }
  }

  .total-container {
    border: $border;
    padding: 0.5rem;
    margin-top: 1.5rem;
    font-weight: bold;
    background-color: $orange;
    height: 40px;
  }
}

.stripe-btn-wrapper {
  text-align: center;
  margin: 1.5rem auto;

  button {
    background-color: $beige;
    font-family: $primary-font;
    width: 85vw;
    height: 40px;
    max-width: 400px;
    &:hover {
      background-color: transparent;
    }
  }
}
