@include media-medium {
  .homeBody-container {
    .video-wrapper {
      height: 500px;
      margin-bottom: $marginBottom-MS;
    }

    .quote-container {
      margin-bottom: $marginBottom-MS;
    }

    .body-statement {
      margin-bottom: $marginBottom-MS;

      .statement-container {
        h1 {
          font-size: $large-font-LS;
        }

        h3 {
          font-size: $medium-font-LS;
        }
      }
    }

    .last-statement {
      margin-bottom: $marginBottom-MS;

      h2 {
        font-size: $large-font-LS;
      }
    }
  }
}

@include media-large {
  .homeBody-container {
    .video-wrapper {
      height: 600px;
    }

    .quote-container {
      h1 {
        font-size: $veryLarge-font-LS;
      }
    }

    .body-statement {
      .statement-container {
        h1 {
          font-size: $veryLarge-font-LS;
        }

        h3 {
          font-size: $large-font-LS;
        }
      }
    }

    .last-statement {
      h2 {
        font-size: $large-font-LS;
      }
    }
  }
}
