.homeBody-container {
  @include flexCenter;
  margin: 0 auto;
  width: $width;
  max-width: $maxWidth;
  flex-direction: column;

  .mainvideo-wrapper {
    position: relative;
    width: 100vw;
    max-width: 950px;
    height: 300px;
    margin-bottom: $marginBottom-SS;

    iframe {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .overlayer {
      position: absolute;
      z-index: 2;
      top: 8px;
      left: 0;
      width: 100%;
      height: 100%;

      @include media-verysmall {
        top: 35px;
      }

      @include media-small {
        top: 15px;
        display: none;
      }
    }
  }

  .video-wrapper {
    position: relative;
    width: 100vw;
    max-width: 850px;
    height: 400px;
    margin-bottom: $marginBottom-SS;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  // .quote-container {
  //   width: 100%;
  //   margin-bottom: $marginBottom-SS;
  //   text-transform: uppercase;
  //   @include flexCenter;

  //   h1 {
  //     text-transform: uppercase;
  //     font-family: $secondary-font-bold;
  //     font-size: $large-font-SS;
  //     max-width: 600px;
  //   }
  // }

  .body-statement {
    width: 100vw;
    max-width: 850px;
    position: relative;
    margin-bottom: $marginBottom-SS;

    .statement-container {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 5;
      color: $beige;
      padding: 0 1rem;

      @include flexCenter;

      h1 {
        // text-transform: uppercase;
        font-size: $large-font-SS;
        font-family: $secondary-font-bold;
        text-transform: capitalize;
      }

      h3 {
        font-size: $small-font-SS;
      }
    }
  }
  .last-statement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    max-width: 850px;
    margin-bottom: $marginBottom-SS;

    &__content {
      width: 100%;

      height: 50vh;
      max-height: 400px;
      @include flexCenter;
      padding: 0 1rem;
      text-align: center;
      background-color: $darkGray;
      z-index: 2;
      h3 {
        font-size: $small-font-SS;
        color: $beige;
        max-width: 600px;
      }
    }

    &__img {
      max-width: 600px;
      width: 100%;
      z-index: 1;
    }

    // width: $width;
    // max-width: 850px;
    // border: $border;
    // height: 50vh;
    // @include flexCenter;
    // padding: 0 1rem;
    // margin-bottom: $marginBottom-SS;
    // text-align: center;
    // background-color: $darkGray;
    // h3 {
    //   font-size: $small-font-SS;
    //   color: $beige;
    //   max-width: 600px;
    // }
  }
}

@include media-medium {
  .homeBody-container {
    .video-wrapper,
    .mainvideo-wrapper {
      height: 600px;
      max-width: 850px;
      margin-bottom: $marginBottom-MS;
    }

    .mainvideo-wrapper {
      .overlayer {
        top: 0;
      }
    }

    .quote-container {
      margin-bottom: $marginBottom-MS;
    }

    .body-statement {
      margin-bottom: $marginBottom-MS;

      .statement-container {
        h1 {
          font-size: $large-font-LS;
        }

        h3 {
          font-size: $large-font-LS;
        }
      }
    }

    .last-statement {
      margin-bottom: $marginBottom-MS;

      h3 {
        font-size: $large-font-LS;
      }
    }
  }
}

@include media-large {
  .homeBody-container {
    .video-wrapper {
      height: 600px;
    }

    .quote-container {
      h1 {
        font-size: $veryLarge-font-LS;
      }
    }

    .body-statement {
      .statement-container {
        h1 {
          font-size: $veryLarge-font-LS;
        }

        h3 {
          font-size: $large-font-LS;
        }
      }
    }

    .last-statement {
      h3 {
        font-size: $large-font-LS;
      }
    }
  }
}
