.header-container {
  @include flexCenter;
  width: $width;
  max-width: $maxWidth;
  margin: 0 auto;
  margin-bottom: $marginBottom-SS;
  flex-direction: column-reverse;
  border: $border;
  min-height: 750px;

  .statement-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    padding: 3rem 0.5rem;
    text-align: center;

    .statement1,
    .statement3 {
      h1 {
        width: 90%;
        max-width: 600px;
        margin: 0 auto;
        font-weight: 300;
        font-size: $large-font-SS;
      }
    }

    .statement2 {
      h1 {
        font-size: $veryLarge-font-SS;
        // text-align: center;

        padding: 2.5rem 0;
        font-family: $secondary-font-bold;
        text-transform: capitalize;
      }
    }
  }

  .image-section {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 3rem 0.5rem;

    .book-title-container {
      text-align: center;
      margin-bottom: 1rem;
      text-align: center;

      .logo-title {
        max-width: 60px;
        margin: 0.5rem auto;
      }

      h1 {
        font-size: $veryLarge-font-SS;
        text-transform: uppercase;
        font-weight: 600;
      }
    }

    .header-img-container {
      max-width: 350px;
      text-align: center;
      margin: 0 auto;
      width: 85%;
    }

    .button-wrapper {
      padding: 1.5rem 0;
      width: 85%;
      text-align: center;

      button {
        font-size: $small-font-SS;
        box-shadow: none;
        border-radius: 0;
        border: $border;
        max-width: 350px;
        height: 40px;
        width: 100%;
        background-color: $beige;

        &:hover {
          background-color: $light;
        }
      }
    }
  }
}

@include media-large {
  .header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90vh;
    position: relative;
    overflow-y: hidden;

    .statement-container {
      max-width: 50%;
      border-right: 1px solid black;

      .statement1,
      .statement3 {
        h1 {
          font-size: $large-font-LS;
        }
      }

      .statement2 {
        h1 {
          font-size: $veryLarge-font-LS;
        }
      }
    }

    .image-section {
      max-width: 50%;
      height: fit-content;

      .book-title-container {
        h1 {
          font-size: $veryLarge-font-LS;
        }

        h2 {
          font-size: $medium-font-LS;
        }
      }

      .button-wrapper {
        button {
          font-size: $small-font-LS;
        }
      }
    }
  }
}
