@include media-large {
  .header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 85vh;
    position: relative;
    overflow-y: hidden;

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 85vh;
      background-color: black;
      content: "";
    }

    .statement-container {
      max-width: 50%;

      .statement1,
      .statement3 {
        h1 {
          font-size: 2.2rem;
        }
      }

      .statement2 {
        h1 {
          letter-spacing: 0.5vw;
          font-size: 2.7rem;
        }
      }
    }

    .image-section {
      max-width: 50%;
      height: fit-content;
      padding-top: 3rem;
    }
  }
}
