.header-container {
  @include flexCenter;
  width: $width;
  max-width: $maxWidth;
  margin: 0 auto;
  margin-bottom: $marginBottom-SS;
  flex-direction: column-reverse;
  border: $border;
  background-color: $beige;
  padding-top: 2rem;

  .statement-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    // text-transform: uppercase;
    padding: 1.5rem 0.5rem 0rem 0.5rem;
    margin: 0 auto;

    & h1 {
      padding-bottom: 2.5rem;
    }

    .statement1,
    .statement3 {
      align-self: flex-start;
      font-style: italic;

      h1 {
        width: 90%;
        max-width: 500px;
        margin: 0 auto;
        font-weight: 300;
        font-size: $large-font-SS;
      }
    }

    .statement2 {
      h1 {
        font-size: $veryLarge-font-SS;
        text-align: center;
        font-family: $secondary-font-bold;

        text-transform: uppercase;
      }
    }

    .statement3 {
      align-self: flex-end;
      text-align: right;
    }
  }

  .image-section {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    .book-title-container {
      text-align: center;
      margin-bottom: 1rem;

      h1 {
        font-size: $veryLarge-font-SS;
        font-family: $secondary-font-bold;
      }

      h2 {
        font-style: italic;
        font-size: $large-font-SS;
        font-weight: 300;
      }
    }

    .header-img-container {
      width: 80%;
      max-width: 300px;
      text-align: center;
      margin: 0 auto;
    }

    .button-wrapper {
      padding: 1.5rem 0;

      button {
        background-color: $light;

        font-family: $primary-font;
        font-weight: 600;
        font-size: $small-font-SS;

        &:hover {
          background-color: $orange;
        }
      }
    }
  }
}
