.contact-page-container {
  width: $width;
  border: $border;
  margin: 0 auto 5rem auto;
  max-width: 865px;
  padding: 1.5rem;

  h1 {
    font-family: $secondary-font-bold;
    font-size: $large-font-SS;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .contact-main {
    @include flexCenter;
    flex-direction: column;

    p {
      font-size: $small-font-SS;
      margin-bottom: 1rem;
      max-width: 80%;
    }

    .email-container {
      @include flexCenter;
      background-color: $beige;
      // color: $beige;
      max-width: 80%;
      width: 80vw;
      height: 60px;
      font-size: $small-font-SS;
      padding: 1rem;
      margin: 2rem auto;
    }
  }
}

@include media-large {
  .contact-page-container {
    h1 {
      font-size: $large-font-LS;
    }

    p {
      font-size: $small-font-LS;
    }
  }
}
