.contributors-statment-container {
  text-align: center;

  h1 {
    font-family: $secondary-font-light-italic;
    width: 90%;
    max-width: 500px;
    margin: 5rem auto;
    text-transform: uppercase;
    font-size: 2rem;
  }
}
