.contributors-statment-container {
  text-align: center;

  h1 {
    width: 90%;
    max-width: 600px;
    margin: 5rem auto;

    font-size: $large-font-SS;
    font-weight: 300;
    font-style: italic;
  }
}

.photographers-container {
  margin-bottom: 10rem;

  .section-title {
    text-align: center;
    font-family: $secondary-font-bold;
    font-size: $veryLarge-font-SS;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px black;
    padding: 0;
    margin-bottom: 1.5rem;
  }
}

.artists-container {
  .section-title {
    text-align: center;
    font-family: $secondary-font-bold;
    font-size: $veryLarge-font-SS;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px black;
    padding: 0;
    margin-bottom: 1.5rem;
  }

  .artists-section {
    @include flexCenter;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    max-height: 1024px;
    padding: 2rem 0;
    margin: 0 auto;
    background-color: $orange;

    .artists-wrapper {
      width: $width;
      height: 80vh;
      max-width: $maxWidth;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      border: $border;
      position: relative;
    }
  }
}
