$primary-font: founders-regular;
$secondary-font-bold: founders-bold;
$secondary-font-light-italic: founders-light-italic;

$beige: #fed159;
$dark: #1c1c21;
$lightPink: #efe8e6;
$gold: #ffb800;

$light: #e9e9e7;

$green: #a7d01b;
$orange: #fe7e59;
$gray: #e3e2e2;
$blue: #4a546f;
$darkGray: #464a53;

$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$borderRadius: 5px;
$border: 1px solid black;

$width: 95vw;
$maxWidth: 1440px;
$marginBottom: 1rem;

$btn-transition: all 0.2s ease-in-out;

// small screen:
$verySmall-font-SS: 1rem;
$small-font-SS: 1.2rem;
$medium-font-SS: 1.5rem;
$large-font-SS: 1.8rem;
$veryLarge-font-SS: 2.2rem;

// Large screen:
$verySmall-font-LS: 1.2rem;
$small-font-LS: 1.4rem;
$medium-font-LS: 1.8rem;
$large-font-LS: 2rem;
$veryLarge-font-LS: 2.5rem;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexSpace {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flexEven {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@mixin media-large {
  @media screen and (min-width: 950px) {
    @content;
  }
}

@mixin media-medium {
  @media screen and (min-width: 640px) {
    @content;
  }
}
