.shop-page {
  @include flexCenter;
  width: $width;
  max-width: 1150px;
  margin: 0 auto 2rem auto;
  flex-direction: column;

  section {
    margin: 1rem auto;
    max-width: 550px;
  }

  .product-container {
    // background-color: $lightGray;
    width: 100%;
    border: $border;
    padding: 2rem 1rem;
    @include flexCenter;
    flex-direction: column;

    .title-container {
      text-align: center;
      margin-bottom: 1rem;
      @include flexCenter;
      flex-direction: column;

      .logo-title {
        width: 180px;
        margin-bottom: 0.5rem;
      }
      h1 {
        font-size: $large-font-SS;
        font-family: $secondary-font-bold;
        margin-bottom: 0.5rem;
        text-align: center;
        color: black;
      }

      h2 {
        font-size: $medium-font-LS;

        font-weight: 300;
      }
    }

    .img-container {
      width: 80%;
      max-width: 350px;
      text-align: center;
      margin: 0 auto;
    }

    .description-container {
      font-size: $small-font-SS;
      margin-top: 1.5rem;
      max-width: 400px;
      text-align: justify;
    }
  }
  .checkout-details-container {
    // background-color: $lightGray;
    width: 100%;
    border: $border;
    padding: 2rem 1rem;
    @include flexCenter;
    flex-direction: column;

    h1 {
      font-size: $large-font-SS;
      font-family: $secondary-font-bold;
      margin-bottom: 0.5rem;
      text-align: center;
      color: black;
      // text-transform: uppercase;
    }
    .details-container {
      @include flexCenter;
      flex-direction: column;
      margin-bottom: 1.5rem;
      max-width: 400px;
      width: 85vw;

      ul {
        margin: 0 auto;
        padding: 1rem;

        li {
          font-size: $verySmall-font-SS;
          margin: 0.5rem 0;
          list-style-type: disc;
          padding: 0;
          font-style: 300;
        }
      }
    }

    .checkout-container {
      width: 100%;
      @include flexCenter;
      flex-direction: column;
    }
  }
}
