@include media-large {
  .shop-page {
    flex-direction: row;
    height: 750px;
    justify-content: center;

    section {
      height: 100%;
    }

    button {
      font-size: $small-font-LS;
    }
  }
}
