@include media-large {
  .shop-page {
    flex-direction: row;
    height: 750px;
    justify-content: center;

    .product-container {
      .title-container {
        h1 {
          font-size: $veryLarge-font-LS;
        }
      }
    }

    section {
      height: 100%;
    }

    button {
      font-size: $small-font-LS;
    }
  }
}
