@include media-large {
  .nav-container {
    .logo-container {
      height: 60px;
    }
    .nav-lists-wrapper {
      position: static;
      width: 65%;
      height: 60px;
      z-index: 5;
      flex-direction: row;
      padding: 0;
      transform: translateY(0);
      transform: scaleY(1);
      opacity: 1;
      pointer-events: initial;

      .nav-lists {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;

        & li {
          padding: 0;
        }
      }
    }
    .small-scr-icons-wrapper {
      display: none;
    }
    .nav-icons-wrapper {
      display: block;
      width: 150px;
      height: 60px;
      border: $border;
      background-color: $orange;
      color: black;
      @include flexCenter;

      .nav-icon {
        @include flexEven;
        font-size: 2.2rem;

        & li {
          @include flexCenter;
          padding: 0 0.5rem;
          cursor: pointer;
          transition: $btn-transition;

          &:hover {
            color: $blue;
          }
        }
      }
    }
    .hamburger {
      display: none;
    }
  }
}
