.nav-container {
  width: $width;
  max-width: $maxWidth;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.2rem auto;

  .logo-container {
    width: 200px;
    padding: 0.5rem;
    text-align: center;
    border: $border;
    background-color: $orange;
    cursor: pointer;
    transition: $btn-transition;
  }

  .nav-lists-wrapper {
    position: absolute;
    top: 6rem;
    width: $width;
    height: 90vh;
    z-index: -1;
    border: $border;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 45%;
    transform: translateY(100vh);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: all 0.2s ease-in;
    opacity: 0;
    pointer-events: none;
    background-color: $orange;
    color: black;

    .nav-lists {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      list-style: none;
      margin: 0;
      padding: 0;

      & li {
        padding: 20% 0;
        margin: 0;
        font-size: 1.9rem;
        // text-transform: uppercase;
        transition: $btn-transition;
        cursor: pointer;
        // font-weight: 800;

        &:hover {
          color: $light;
        }
      }
    }

    .small-scr-icons-wrapper {
      font-size: 1.9rem;
      border-bottom: $border;
      padding-bottom: 1rem;

      .small-scr-icons {
        display: flex;

        li {
          font-size: $small-font-SS;
          margin: 0 1rem;
        }
      }
    }
  }

  .active {
    opacity: 1;
    z-index: 5;
    height: 100vh;
    transform: translateY(0);
    transform: scaleY(1);
    transition: all 0.2s ease-in;
    pointer-events: initial;
  }

  .nav-icons-wrapper {
    display: none;
  }

  .hamburger {
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    opacity: 0.8;

    & span {
      display: block;
      position: absolute;
      height: 0.4rem;
      width: 100%;
      background: black;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }

    & span:nth-child(1) {
      top: 0px;

      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    & span:nth-child(2) {
      top: 18px;

      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    & span:nth-child(3) {
      top: 36px;

      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
  }

  .hamburger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
  }

  .hamburger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
  }
}
