@include media-medium {
  .footer-wrapper {
    .footer-container {
      .footer-main-wrapper {
        article {
          flex-direction: row;

          section {
            height: 250px;
            border-right: $border;

            div {
              h3 {
                font-size: $large-font-LS;
              }
            }
          }
        }
      }
      .footer-logo-container {
        .secured {
          display: inline-block;
        }
      }
    }
  }
}
